.header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 0; 
    padding: 20px 30px; 
    background-color: #f6ecdf; 
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header > div:last-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    height: 120px;
    padding: 20px 30px;
}

.site-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px; 
    color: #4B0082;
    margin: 0; 
}

.socials {
    margin-right: 10px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    background-color: #f3e9de;
    color: #4B0082;
    border: black 2px solid;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.socials:hover {
    background-color: #c4beb8;
}

* {
    box-sizing: border-box;
}

body, html {
    background: tan;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1200px; 
    margin: 40px auto;
    padding: 0 20px; 
}

.main .intro {
    color: navy;
    text-align: center;
    margin-bottom: 50px;
}

.gallery {
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    padding: 40px; 
    margin-bottom: 50px; 
}

.gallery h3 {
    font-size: 2.5em;
    color:#4B0082;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--dark-accent);
    display: inline-block; 
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 
    width: fit-content; 
}

.photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
    padding: 20px 0;
    margin-bottom: 40px;
}

.grid {
    background-color: lightgray; 
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer; 
}

.grid:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.grid img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    display: block; 
}

.grid .caption {
    padding: 15px;
    font-size: 1em;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

.main-handicrafts-page {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

footer {
    margin-top: auto;
}

.foot {
    background-color: #f6ecdf;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #4B0082;
}
